{% extends 'navbar.html' %}

{% block navbar_css %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}">
{% endblock %}

{% block navbar_js %} 
  <script src="{{ url_for('static', filename='js/auth/signup.js') }}"></script>
{% endblock %}

{% block navbar_title %} TenStars Sign Up {% endblock %}

{% block navbar_nav %} 
{% endblock %}

{% block navbar_modals %} 
{% endblock %}

{% block navbar_content %} 
  <div class="auth-form-box">
    <img class="auth-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="TenStars' Logo">
    <form id="signup-form"> 
      <div class="auth-form-input-box">
        <div class="label-box"><label for="username">Name:</label></div>
        <input type="username" id="username" name="username" placeholder="Name" class="auth-form-input" required>
      </div>

      <div class="auth-form-input-box">
        <div class="label-box"><label for="email">Email:</label></div>
        <input type="email" id="email" name="email" placeholder="Email" class="auth-form-input" required>
      </div>

      <div class="auth-form-input-box">
        <div class="label-box"><label for="password">Password:</label></div>
        <input type="password" id="password" name="password" placeholder="Password" class="auth-form-input" required>
      </div>

      <button>Sign up</button>
    </form>
        <p>Already have an account? <a href="login">Login</a></p>
    <p id="error-message" style="color:red;"></p>
  </div>
{% endblock %}