# don't push our secrets
secrets.py
mysecrets.py
*.yml

# don't push your local venv
venv

# don't push intermidiate files
*.pyc
__pycache__

# dependencies
/node_modules

# don't push scripts
*.sh
*.ps1