# don't push our secrets or environmental vars
secrets.py
mysecrets.py
*.yml
*.env

# don't push your local venv
venv

# don't push intermidiate files
*.pyc
__pycache__

# dependencies
/node_modules

# don't push scripts
*.sh
*.ps1

# don't push unneeded data files
.DS_Store