.auth-form-box {
    border: 2px solid white;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    margin: 30px auto;
}

.auth-form-input-box {
    margin-bottom: 10px;
}

input[type="username"], input[type="password"], input[type="email"] { /*fix selectors? simplify, use classes? or just input*/
    width: 100%;
    /*padding: 12px;*/
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    background-color: #333;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #00f;
    text-decoration: none;
}

.auth-logo {
    display: block;
    margin: 0 auto 10px auto;
    width: 200px;  
}

.label-box {
    width: 100%;
    text-align: left;
}