/* group and event box */

.event {
  background-color: #333;
  margin: 30px 0;
  padding: 15px;
}

.group {
  background-color: #333;
  margin: 30px 0;
  padding: 15px;
}

.events-box {
  display: none;
}

.groups-box {
  display: block;
}

.admin-group {
  border: 2px solid #4285f4;
  border-radius: 8px;
}
.participant-group {
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.group-event {
  border: 2px solid #4285f4;
  border-radius: 8px;
}
.team-event {
  border: 2px solid #ffffff;
  border-radius: 8px;
}

/* this is the notification button */
/* TODO: scroll notificaitons */ 

.notification-container {
  position: relative;
  display: inline-block;
}

.notification-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #333;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  width: 250px; /* or whatever width you prefer */
  z-index: 10; /* ensures the dropdown appears on top */
  overflow-y: scroll;
  max-height: 450px;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.accept-btn,
.decline-btn {
  background-color: #555;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.accept-btn:hover {
  background-color: #277;
}

.decline-btn:hover {
  background-color: #722;
}

/* Toggle switch styles */
.switch-selector {
  display: inline-block;
  border: 2px solid #ccc;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 20px;
}

.switch-selector button {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  float: left;
  width: 50%;
  transition: background-color 0.3s;
}

.switch-selector button.active {
  background-color: #555;
  color: white;
}

/* Inside your home.css file or within a <style> tag in the <head> */
.btn-create-group {
  background-color: #1e1e1e; /* Green background */
  color: white; /* White text */
  padding: 12px 24px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor indicates it's clickable */
  font-size: 16px; /* Font size */
  margin-top: 10px; /* Margin on the top */
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.btn-create-group:hover {
  background-color: #424242; /* Darker green on hover */
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Hover affect for admin group box */
.admin-group {
  /* Your existing styles */
  cursor: pointer; /* Change cursor to indicate the item is clickable */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.admin-group:hover {
  transform: translateY(-5px); /* Slightly raise the box to give a lifting effect */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Increase shadow for depth perception */
}
.event-name {
    font-size: 1.2em;
    /* Larger font size for the team name */
    margin-bottom: 20px;
    /* Space below the team name */
}