<!DOCTYPE html>
<html>
<head>
    <title>Customizable Event Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create_event.css') }}">
</head>
<body>
    <div class="wrapper">
        <!-- Nav Bar -->
        <nav class="navbar">
            <!-- on the left side there will be an image -->
            <div class="navbar-left">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Ten Star Logo" />
            </div>
            <!-- on the right side there will be a back button -->
            <div class="navbar-right">
                <button class="btn btn-danger" onclick="window.location.href='/group/{{group_id}}';">
                    Back
                </button>
            </div>
        </nav>
        <div class="container">
            <h1>Create Event</h1>
            <form action="{{ url_for('events.create_event_request', group_id=group_id) }}" method="post">
                <div class="form-group">
                    <label for="event_name">Event Name:</label>
                    <input type="text" id="event_name" name="event_name" placeholder="Enter event name" required>
                </div>
                    <div class="form-group">
                    <label for="event_description">Event Description:</label>
                    <input type="text" id="event_description" name="event_description" placeholder="Enter event Description" required>
                </div>
                <div class="form-group">
                    <label for="start_day">From:</label>
                    <select id="start_day" name="start_day">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <!-- Add more day options as needed -->
                    </select>
                    <select id="start_month" name="start_month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        <!-- Add more month options as needed -->
                    </select>
                    <select id="start_year" name="start_year">
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <!-- Add more year options as needed -->
                    </select>
                    <label for="eventStartDay">Recurrence (otional):</label>
                    <select id="eventStartDay">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Wednesday">Thursday</option>
                        <option value="Wednesday">Friday</option>
                        <option value="Wednesday">Saturday</option>
                        <option value="Wednesday">Sunday</option>
                    </select>

                    <!-- Dropdown for end day -->
                    <select id="eventEndDay">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Wednesday">Thursday</option>
                        <option value="Wednesday">Friday</option>
                        <option value="Wednesday">Saturday</option>
                        <option value="Wednesday">Sunday</option>
                    </select>
                    <label for="end_day">To:</label>
                    <select id="end_day" name="end_day">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <!-- Add more day options as needed -->
                    </select>
                    <select id="end_month" name="end_month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        <!-- Add more month options as needed -->
                    </select>
                    <select id="end_year" name="end_year">
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <!-- Add more year options as needed -->
                    </select>
                    <label for="avail-start" class="start-time-label">Start Time:</label>
                    <input id="start_time", name="start_time" type="time" id="avail-start" name="avail-start" required />
                    <label for="avail-end" class="end-time-label">End Time:</label>
                    <input id="end_time", name="end_time" type="time" id="avail-end" name="avail-end" required />
                    

                    


                </div>
                <div class="navbar-right">
                    <button type="submit" id="save" class="btn btn-danger">Save Event</button>
    
                </div>
            </form>
        
        </div>
    </div>    
    
    <script src="{{ url_for('static', filename='scripts/create_event.js') }}"></script>
</body>
</html>
