<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ten Star User Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/manual_create_team.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/manual_create_team.js') }}"></script>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Nav Bar -->
        <nav class="navbar">
            <!-- on the left side there will be an iamge-->
            <div class="navbar-left">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Ten Star Logo" />
            </div>
            <!-- on the right side there will be buttons-->
            <div class="navbar-right">
                <button class="btn btn-danger" style="display: block" onclick="window.location.href='/group/{{ group_id }}';">
                    Back
                </button>
            </div>
        </nav>

        <div class="container">
            <!-- Other Sections -->
            <!-- Expandable Member Selection Section -->
            <div class="section" style="position: relative;">
                <span class="section-text" onclick="toggleVisibility('memberSelection')">Create Team</span>
                <!-- The rest of your content -->
                <div id="memberSelection" style="display: none;">
                    <label for="teamName" class="input-label">Team Name</label>
                    <input type="text" id="teamName" placeholder="E.g., Alpha Team" class="input-text">

                    <label for="teamDescription" class="input-label">Team Description</label>
                    <textarea id="teamDescription" placeholder="Describe the team's purpose and goals" class="textarea-description"></textarea>
                    <div class="search-bar">
                        <input type="text" id="searchPeople" placeholder="Search people..." onkeyup="searchPeople()">
                        <button id="checkAll">Check All</button>
                    </div>
                    <div class="team-members" id="peopleContainer">
                        {% for person in people %}
                        <label class="member" for="chk{{ person }}">
                            <input type="checkbox" id="chk{{ person }}" value="{{ person }}">
                            <span class="checkmark"></span>
                            {{ person }}
                        </label>
                        {% endfor %}
                    </div>
                    <!-- Confirm button -->
                    <button onclick="confirmParticipants()" id="confirmButton">Confirm</button>
                </div>
                <!-- Container for showing selected participants -->
                <div id="selectedParticipants" style="display: none;">
                    <!-- Selected participants will be listed here -->
                </div>
            </div>
            <div id="finalButton">
                <button onclick="createTeam()">Create Teams</button>
            </div>

        </div>

    </div>


</body>

</html>