{% extends 'navbar-buttons.html' %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/groups/group.css') }}" />
{% endblock %}

{% block js %} 
<script src="{{ url_for('static', filename='js/groups/group.js') }}"></script>
{% endblock %}

{% block title %} Group Page {% endblock %}

{% block nav %} 
  <!-- invite button -->
  <button id="invite-btn" style="display: block">Invite</button>
  <!-- profile button -->
  <button id="people-btn" class="btn btn-danger" style="display: block">
      People
  </button>

  {% if admin_access %}
    <!-- create team button -->
    <div class="create-team-dropdown">
        <!-- Create Teams Button -->
        <button id="createTeamButton" class="btn btn-danger">
            Create Teams
        </button>

        <!-- Dropdown for Create Team Options -->
        <div id="createTeamOptions" class="create-team-options" style="display: none;">
            <button id="partitionTeamButton" class="btn btn-info">Partition Team</button>
            <button id="manualCreateTeamButton" class="btn btn-info">Manual Create Team</button>
        </div>
    </div>
    <!-- create event button -->
    <button id="createEventButton" class="btn btn-danger" style="display: block">
        Create Event
    </button>
  {% endif %}
  <button class="btn btn-danger" style="display: block" onclick="window.location.href='/home';">
      Back
  </button>
{% endblock %}

{% block modals %} 
<!-- Invite Modal -->
<div id="inviteModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Invite Participants</h2>
      <div class="modal-body">
          <span>Code:</span>
          <input type="text" id="invitationCode" placeholder="Invitation Code" readonly />
          {% if admin_access %}
            <input type="email" id="invite-email" placeholder="Enter email">
            <div id="invited-participants"></div>
            <button class="invite-submit-btn">Send Invitation</button>
           {% endif %}
      </div>
  </div>
</div>

<!-- People Modal -->
<div id="peopleModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Manage People</h2>
      <input type="text" id="searchEmail" placeholder="Search emails..." onkeyup="searchEmails()" />
      <div id="emailList" class="email-list">
          <!-- Sample Email Entry -->
          <!-- Repeat this structure for each email dynamically -->
          <div class="email-entry">
              <span class="email-text">1@example.com</span>
            {% if admin_access %}
                <button class="promotion-btn">Promote</button>
                <button class="demotion-btn">Demote</button>
            {% endif %}
          </div>
          <!-- ... other email entries ... -->
      </div>
  </div>
</div>
</div>
{% if admin_access %}
<div id="createEventModal" class="modal">
<div class="modal-content">
  <span class="close">&times;</span>
  <h2>Create Event</h2>
  <form action="{{ url_for('events.create_event', group_id=group_id) }}" method="post">
      <div class="form-group">
          <label for="event_name">Event Name:</label>
          <input type="text" id="event_name" name="event_name" placeholder="Enter event name" required>
      </div>
      <div class="form-group">
          <label for="event_description">Event Description:</label>
          <input type="text" id="event_description" name="event_description"
              placeholder="Enter event Description" required>
      </div>
      <div class="form-group">
          <label for="start_date">From:</label>
          <input type="date" id="start_date" name="start_date" required>
          <br>
          <label for="end_date">To:</label>
          <input type="date" id="end_date" name="end_date" required>
          </select>
          <br>
          <label for="eventStartDay">Recurrence (optional):</label>
          <br>
          <select id="eventStartDay" name="eventStartDay">
              <option></option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
          </select>
          <br>
          <select id="eventEndDay" name="eventEndDay">
              <option></option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
          </select>
          <br>

          <label for="avail-start" class="start-time-label">Start Time:</label>
          <br>
          <input id="start_time" , name="start_time" type="time" id="avail-start" name="avail-start"
              required />
          <br>
          <label for="avail-end" class="end-time-label">End Time:</label>
          <br>
          <input id="end_time" , name="end_time" type="time" id="avail-end" name="avail-end" required />
      </div>
      <div class="navbar-right">
          <button type="submit" id="save" class="btn btn-danger">Save Event</button>
      </div>
</div>
{% endif %}
{% endblock %}

{% block content %} 
  <!-- Group Details -->
  <div class="group-details">
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>
  </div>

  <div class="group-events">
    <h2>Events</h2>
        {% if user_events %}
            <ul>
                <div class="event-box-container">
                    {% for event in user_events %}
                        <div class="event-box">
                            <h3 class="event-name">{{ event.name }}</h3>
                            <div class="event-members">
                                <p>{{ event.description }}</p>
                            </div>
                            <div class="event-dates">
                                <p>Start Date: {{ event.start_date }}</p>
                                <p>End Date: {{ event.end_date }}</p>
                            </div>
                            <div class="event-times">
                                <p>Start Time: {{ event.start_time }}</p>
                                <p>End Time: {{ event.end_time }}</p>
                            </div>
                            <div class="navbar-right">
                                <button class="navbar-right delete-event-btn" data-event-id="{{ event.id }}">Delete Event</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </ul>
        {% else %}
            <p>No events</p>
        {% endif %}
  </div>

  <div class="group-teams">
    <h2>Teams</h2>
    <div class="team-box-container">
        {% for team in teams %}
        <!-- Each team has its own team-box within the same container -->
        <div class="team-box" data-team-url="../teams/{{ team.id }}">
            <h3 class="team-name">{{ team.name }}</h3>
            <div class="team-members">
                {% for member in team.members %}
                <span class="member">{{ member }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
  </div>            
{% endblock %}