{% extends 'navbar-buttons.html' %}

{% block css %} 
  <link rel="stylesheet" href="{{ url_for('profile.static', filename='css/profile.css') }}" />
{% endblock %}

{% block js %} 
  <script src="{{ url_for('profile.static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block title %}User Weekly Schedule{% endblock %}

{% block nav %} 
  <button class="btn btn-danger" style="display: block" onclick="window.location.href='/home';">
    Back
  </button>
{% endblock %}

{% block modals %} 
  <div id="avail-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="avail-form">
            <label for="avail-start" class="start-time-label">Start Time:</label>
            <input type="time" id="avail-start" name="avail-start" required />

            <label for="avail-end" class="end-time-label">End Time:</label>
            <input type="time" id="avail-end" name="avail-end" required />

            <input type="submit" value="Create Availability Block" />
        </form>
    </div>
  </div>
{% endblock %}

{% block content %} 
  <h1>User Weekly Schedule</h1>
  <!-- Day Boxes -->
  <div id="schedule-container">
      <div class="day" id="monday">Monday</div>
      <div class="day" id="tuesday">Tuesday</div>
      <div class="day" id="wednesday">Wednesday</div>
      <div class="day" id="thursday">Thursday</div>
      <div class="day" id="friday">Friday</div>
      <div class="day" id="saturday">Saturday</div>
      <div class="day" id="sunday">Sunday</div>
  </div>
  <div id="avail-blocks">
      <!-- Dynamically added avail blocks can go here -->
  </div>

  <div class="button-container">
      <!-- Button to open the modal to add a new avail -->
      <button id="create-avail-btn" class="btn btn-primary">Create Availability</button>
      <!-- Button to save schedule and send avail blocks to backend -->
      <button id="saveScheduleButton" class="btn btn-success">Save Schedule</button>
  </div>
{% endblock %}