{% extends 'navbar.html' %}

{% block navbar_css %} 
  <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/auth.css') }}">
{% endblock %}

{% block navbar_js %} 
  <script src="{{ url_for('auth.static', filename='js/login.js') }}"></script>
{% endblock %}

{% block navbar_title %}Login Page{% endblock %}

{% block navbar_nav %} 
{% endblock %}

{% block navbar_modals %} 
{% endblock %}

{% block navbar_content %} 
  <div class="auth-form-box">
    <img class="auth-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Ten Star Logo">
    <form id="login-form">
      <div class="auth-form-input-box">
          <div class="label-box"><label for="email">Email:</label></div>
          <input type="email" name="email" required placeholder="Email" class="auth-form-input">
      </div>

      <div class="auth-form-input-box">
          <div class="label-box"><label for="password">Password:</label></div>
          <input type="password" name="password" required placeholder="Password" class="auth-form-input">
      </div>
      
      <div class="auth-form-input-box">
          <button type="submit">Login</button>
      </div>
    </form>
    <div id="error-message" style="color: red;"></div>
    <p>New to tenstars? <a href="./signup">Sign Up</a></p>
  </div>
{% endblock %}