<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}" />
    {% block css %} {% endblock %}
</head>

<body>
    <div class="wrapper">
        <!-- Nav Bar -->
        <nav class="navbar">
            <!-- on the left side there will be an iamge-->
            <div class="navbar-left">
                <a href="{{ url_for('main.home') }}">
                 <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Ten Star Logo" />
                </a>
            </div>
            <!-- on the right side there will be buttons-->
            <div class="navbar-right">
                <!-- welcome button -->
                <button id="welcomeButton" style="display: block">
                    Welcome, {{ username }}!
                </button>
                <form action="{{ url_for('auth.logout') }}" method="post" id="logoutForm" style="display: none">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
                {% block nav %} {% endblock %}
            </div>
        </nav>
        <div class="container">
            {% block content %} {% endblock %}
            
        </div>
    </div>
    {% block modals %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block js %} {% endblock %}
</body>

</html>